body{
    background-color: rgb(0, 0, 0);
    color: #fff;
    
}

.intro{
    padding: 50px;
    margin-top: 100px;
}

.temas{
    padding: 50px;
}

.tema{
    font-size: 1fr;
}

.lista-temas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.aplicacao-cont{
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(0, 140, 255);
    width: 200px;
    height: 200px;
    
}

.aplicacao-cont:hover{
    background-color: rgb(123, 196, 255);
}

.aplicacoes{
    text-align: center;
    
}

.aplicacoes-cont{
    
    display: flex;
    text-align: center;
    justify-content: center;
    
}


  /* Estilo da caixa que será exibida */
  .popup-box {
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do botão de fechar */
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.cnt-img{
   display: grid;
   place-items: center;
   margin-top: 5px;
}

.cnt-img img{
    width: 100%;
}

.text{
    margin-left: 50%;
    margin-top: 50px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 50px;
    
}

.contacts{
    display: grid;
    place-items: center;
}

.contact-form{
    width: 26.042vw;
}

.input-box{
    margin-top: 50px;
    padding: 50px;
    background-color: #377ef0;
    width: 50%;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin-bottom: 100px;
   
}

.form-control{
    width: 100%;
}


.footer{
    background-color: #212529;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .text {
        margin-top: 50px;
        width: 450px;
        height: 95%;
    }

    .lista-temas{
        display: flex;
        flex-direction: column;
       
    }


    .contacts{
        display: grid;
        place-items: left;
    }


    .contact-form{
        width: 90%;
    }

    .input-box{
        width: 100%;
    }


    .footer{
        background-color: #212529;
        padding: 80px;
        display: flex;
        flex-direction: column;
        
    }
}